# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Jupyter Files
.ipynb_checkpoints/

# OS X Files
*.DS_Store
*/__MACOSX/

# Data Files
intro-to-pytorch/Cat_Dog_data/
data/

# Copy
*-Copy*.*
